**KRISS API 불러오기 연습

In [18]:
import numpy as np 
import pandas as pd 
import requests        #The requests library for HTTP requests in Python
import scipy as stats
import math

In [26]:
#stocks = pd.read_csv("sp_500_stocks.csv")
#stocks.head(10)

  Ticker
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV
5    ABC
6   ABMD
7    ABT
8    ACN
9   ADBE

In [42]:
stocks = pd.DataFrame(['AAPL', "MSFT", "AMZN", "TSLA", "GOOGL", "NVDA", "META"])
stocks.columns = ["Ticker"]
stocks

  Ticker
0   AAPL
1   MSFT
2   AMZN
3   TSLA
4  GOOGL
5   NVDA
6   META

In [63]:
# API TOKEN
from secrets import IEX_CLOUD_API_TOKEN

# Make SAMPLE API Call for APPLE
symbol = 'AAPL'

# GET /stock/{symbol}/quote/{field}
# stable <-> latest
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN }'

data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2463347358156,
 'week52high': 184,
 'week52low': 134.62,
 'week52highSplitAdjustOnly': 187.1,
 'week52lowSplitAdjustOnly': 129.68,
 'week52change': 0.03097484473578523,
 'sharesOutstanding': 16093975883,
 'float': 0,
 'avg10Volume': 110044709,
 'avg30Volume': 95414363,
 'day200MovingAvg': 161.23,
 'day50MovingAvg': 162.99,
 'employees': 147016,
 'ttmEPS': 6.18,
 'ttmDividendRate': 0.9364068652339098,
 'dividendYield': 0.006198975959801503,
 'nextDividendDate': '',
 'exDividendDate': '2022-07-28',
 'nextEarningsDate': '2022-10-14',
 'peRatio': 24.62331097213955,
 'beta': 1.2472743483862492,
 'maxChangePercent': 57.30475270514673,
 'year5ChangePercent': 3.196201835676483,
 'year2ChangePercent': 0.4235091855147143,
 'year1ChangePercent': 0.030829652043879344,
 'ytdChangePercent': -0.15475529082368442,
 'month6ChangePercent': -0.13614074160878975,
 'month3ChangePercent': 0.0652127820145705,
 'month1ChangePercent': -0.10349659301207738,
 'day30ChangePercent': -0.11634263798779916,
 'day5ChangePercent': -0.001806988685336811}

In [49]:
print(data['year1ChangePercent'])

0.029640107955066667

In [60]:
# Add Stocks to Data Frame

my_columns = ['Ticker', 'PER','One Year Price Return']
final_df= pd.DataFrame(columns = my_columns)
final_df

Empty DataFrame
Columns: [Ticker, PER, One Year Price Return]
Index: []

In [61]:
final_df = final_df.append(pd.Series(['AAPL', data['peRatio'], data['year1ChangePercent']], index = my_columns),
                                        ignore_index = True)
final_df

  Ticker        PER  One Year Price Return
0   AAPL  24.837461               0.030279

In [59]:
# Create API call for each stock
final_df = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN }'
    data = requests.get(api_url).json()
    final_df = final_df.append(pd.Series([stock, data['peRatio'],data['year1ChangePercent']],index = my_columns), 
                                        ignore_index = True)
final_df

  Ticker        PER  One Year Price Return
0   AAPL  24.728398               0.030826
1   MSFT  24.622808               0.030639
2   AMZN  24.833096               0.030002
3   TSLA  24.697345               0.030970
4  GOOGL  24.469462               0.031103
5   NVDA  24.710381               0.030528
6   META  24.837461               0.030279

In [1]:
# Batch API Calls
aapl_api = f'https://cloud.iexapis.com/stable/tops?token={IEX_CLOUD_API_TOKEN }&symbols=aapl'
data = requests.get(aapl_api).json()

data

NameError: name 'IEX_CLOUD_API_TOKEN' is not defined